NODE_ENV=development
PORT=3000
DATABASE=url
DATABASE_LOCAL=mongodb://localhost:27017/natours
DATABASE_PASSWORD=password

JWT_SECRET=secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=username
EMAIL_PASSWORD=password
EMAIL_HOST=host
EMAIL_PORT=587

BREVO_HOST=host
BREVO_PORT=587
BREVO_USERNAME=username
BREVO_PASSWORD=password
EMAIL_FROM=email

# EMAIL_FROM=hello@lex.io

MAPBOX_ACCESS_TOKEN=token

SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=password

STRIPE_SECRET_KEY=secret
STRIPE_WEBHOOK_SECRET=secret

CLIENT_URL=url